@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    font-style: italic;
    src: url(./fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

:root {
    --color-bb-blue: #1C2E3F;
    --color-neutral-gray: #bebebe;
    --color-danger-red: rgb(199, 63, 63, 1);
    --color-danger-red-transparent: rgb(199, 63, 63, 0);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}