#company-name {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}

#company-grade {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.good {
    color: rgb(5, 156, 5);
}

.okay {
    color: yellowgreen;
}

.meh {
    color: rgb(209, 209, 0);
}

.poor {
    color: orange;
}

.bad {
    color: red;
}

#data {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 2rem;
}