
#imgHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

hr{
    width: 97%;
    height: 1px;
    background-color: black;
}

#missionHeader{
    padding-left: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.poopie {
    --background: #FFA07A;
}
