

#imgheader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#featuredcompanies{
    color: black;
}

#missionheader{
    padding-left: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}
.ion-toolbar{
    --opacity: 0.5;
}

#companytitle{
    text-align: left;
    color:black;
}

#industry{
    text-align: left;
}

.card-text {
    display: flex;
    width: 100%;
}

.card-text-right {
    align-self: center;
    width: 100%;
    text-align: right;
    font-size: 40px;
}


.poopie {
    --background: #FFA07A;
}
